.main-header {
    padding-bottom: 22px;
    .header-top {
        padding: 24px 0;
        margin-bottom: 24px;
        border-bottom: 1px solid #BFBFBF;
        .container {
            align-items: center;
        }
    }
    .menu-info {
        a {
            margin-right: 48px;
        }
    }
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .search {
        position: relative;
        margin-left: 8%;
        margin-right: 30px;
        flex: 1;
        input {
            padding: 10px 40px 10px 20px;
            border-color: #BFBFBF;
            position: relative;
            z-index: 3;
            &:not(:placeholder-shown) ~ .search-btn {
                pointer-events: all;
            }
            &.open {
                & ~ .search-result__close {
                    display: block;
                }
            }
        }
        .search-btn {
            background: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 16px 0 0;
            height: 40px;
            pointer-events: none;
            z-index: 3;
        }
        .search-result {
            margin-top: 20px;
            display: none;
            &__close {
                color: #A1A1A1;
                cursor: pointer;
                position: absolute;
                right: 40px;
                top: 1px;
                z-index: 3;
                height: 40px;
                padding: 10px;
                display: none;
            }
            &__categories {
                border-top: 1px solid #DBDBDB;
                padding-top: 12px;
                .item {
                    padding-bottom: 10px;
                    margin-bottom: 16px;
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    .name {
                        color: var(--gray3);
                        font-size: 16px;
                        font-weight: 400;
                        flex: 1;
                    }
                    .amt {
                        color: #8D8D8D;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
            &__products {
                border-top: 1px solid #DBDBDB;
                .item {
                    padding-top: 8px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DBDBDB;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .name {
                        color: var(--gray3);
                        font-size: 12px;
                        font-weight: 400;
                        flex: 1;
                    }
                    .price {
                        color: var(--red);
                        font-size: 14px;
                        font-weight: 600;
                        display: table;
                        span {
                            color: var(--gray3);
                            margin-left: 5px;
                        }
                    }
                    picture {
                        flex: none;
                    }
                    img {
                        display: block;
                        width: 120px;
                        height: auto;
                    }
                }
            }
            .all-result {
                color: var(--gray3);
                font-size: 16px;
                font-weight: 400;
                text-decoration-line: underline;
                margin-bottom: 16px;
                display: table;
            }
        }
    }
    .phone {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        svg {
            vertical-align: middle;
        }
    }
    .account {
        font-weight: 600;
        margin-right: 56px;
        svg {
            margin-right: 8px;
        }
    }
    .lang-switcher {
        position: relative;
        margin-left: auto;
        text-align: right;
        & > *:not(.lang-btn) {
            color: #BFBFBF;
            font-size: 14px;
            font-weight: 400;
        }
        .active {
            cursor: pointer;
            color: var(--red);
            font-weight: 700;
        }
        .separator {
            &::before {
                content: "/";
                margin-right: 4px;
            }
        }
        .lang-btn {
            font-size: 12px;
            font-weight: 400;
            border-radius: 4px;
            border: 1px solid #E53934;
            padding: 4px 16px;
            margin-top: 4px;
            display: table;
            span {
                font-size: 16px;
                font-weight: 700; 
            }
        }
    }
    .main-menu {
        margin-top: 13px;
        position: relative;
        flex: 0 0 100%;
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                padding: 10px 0;
                &:first-child {
                    padding: 10px 34px;
                    border-radius: 8px;
                    background: var(--red);
                    font-size: 16px;
                    font-weight: 600;
                    & > a,
                    & > svg {
                        color: #fff;
                    }
                    svg {
                        vertical-align: middle;
                        margin-right: 8px;
                        margin-top: -2px;
                    }
                }
                &:first-child {
                    .menu-dropdown {
                        max-width: 100%;
                    }
                }
                &:nth-child(n + 4) {
                    .menu-dropdown {
                        left: auto;
                        right: 0;
                    }
                }
                & + li {
                    position: relative;
                }
                &:hover {
                    .menu-dropdown {
                        visibility: visible;
                        transition: all 0s ease 0.2s;
                    }
                }
                & > svg {
                    margin-left: 6px;
                }
            }
        }
        .menu-dropdown {
            position: absolute;
            left: 0;
            right: auto;
            width: max-content;
            top: 100%;
            visibility: hidden;
            background: #fff;
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 5px 5px;
            padding: 22px 40px 30px 23px;
            z-index: 10;
            display: flex;
            gap: 50px;
            .submenu {
                a {
                    display: table;
                    margin-bottom: 9px;
                }
            }
            .menu-img {
                margin-left: auto;
            }
        }
    }
}
.menu-icons-mob,
.menu-search {
    display: none;
}
@media (min-width: 992px) {
    .main-header {
        .search {
            .search-result {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                display: none;
                z-index: 2;
                margin-top: 8px;
                &__inner {
                    background: #fff;
                    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.11);
                    border-radius: 4px;
                    padding: 16px;
                    position: relative;
                    z-index: 12;
                }
                &::after {
                    content: "";
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    background-color: rgba(0,0,0,.2);
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}
@media (max-width: 1350px) {
    .main-header {
        .main-menu {
            ul {
                li + li {
                    .menu-dropdown {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .main-header {
        padding: 12px 0;
        align-items: center;
        box-shadow: 0 4px 7px 0 rgba(27, 27, 27, 0.10);
        position: relative;
        overflow: auto;
        z-index: 1;
        &#catalogOpen,
        &#menuOpen {
            background: #fff;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 60px;
            padding: 32px 20px;
            z-index: 10000;
            .burger,
            .logo,
            .search-btn {
                display: none;
            }
            .container {
                padding: 0;
            }
            .header-top,
            .main-menu {
                display: block;
            }
            .header.phone {
                border-top: 1px solid #DBDBDB;
                padding-top: 24px;
                margin-top: 8px;
                width: 100%;
                order: 1;
                a {
                    font-size: 20px;
                }
            }
            .lang-switcher {
                width: 100%;
                .title {
                    color: var(--gray);
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: -10px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                }
                .lang-btn {
                    margin-left: auto;
                }
            }
        }
        &#catalogOpen {
            .menu-info {
                display: none;
            }
            .main-menu {
                ul {
                    li {
                        &:first-child {
                            border: none;
                            padding: 0;
                            & > a {
                                display: none;
                            }
                            .menu-dropdown {
                                display: block;
                            }
                        }
                        & + li {
                            display: none;
                        }
                    }
                }
            }
        }
        &#searchOpen {
            background: #fff;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 60px;
            padding: 32px 20px;
            z-index: 10000;
            .burger,
            .logo,
            .header.phone,
            .search-btn {
                display: none;
            }
            .container {
                padding: 0;
            }
            .search {
                display: block;
                margin: 0;
                .search-btn {
                    display: block;
                }
            }
            .menu-search {
                display: block;
                margin-top: 8px;
                width: 100%;
                a {
                    display: table;
                    font-weight: 400;
                    margin-top: 20px;
                }
            }
        }
        .menu-info {
            border-top: 1px solid #DBDBDB;
            margin-top: 16px;
            width: 100%;
            order: 1;
            a {
                font-weight: 600;
                display: table;
                margin-top: 20px;
            }
        }
        .header-top {
            border-color: #DBDBDB;
            padding: 0 0 16px;
            margin: 0;
        }
        .burger {
            height: 36px;
            width: 34px;
            display: flex;
            align-items: center;
            span {
                display: block;
                background: var(--gray);
                cursor: pointer;
                position: relative;
                height: 2px;
                width: 100%;
                &::after,
                &::before {
                    content: "";
                    background: var(--gray);
                    display: table;
                    position: absolute;
                    left: 0;
                    top: -11px;
                    height: 2px;
                    width: 100%;
                }
                &::after {
                    top: 11px;
                }
            }
        }
        .search {
            display: none;
            .search-result {
                .all-result {
                    font-size: 14px;
                    margin-bottom: 12px;
                }
                &__categories {
                    padding-top: 16px;
                    .item {
                        margin-bottom: 10px;
                        padding-bottom: 9px;
                        gap: 22px;
                        .name {
                            font-size: 14px;
                        }
                        .amt {
                            font-size: 10px;
                        }
                    }
                }
                &__products {
                    padding-top: 4px;
                    .item {
                        padding-bottom: 9px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .logo {
            text-align: center;
            flex: 1;
            img {
                width: 100px;
            }
        }
        .header.phone {
            margin: -5px 5px 0 0;
            overflow: hidden;
            white-space: nowrap;
            width: 36px;
        }
        .account {
           display: none;
        }
        .lang-switcher > *:not(.lang-btn) {
            font-size: 18px;
        }
        .header-top {
           display: none;
        }
        .main-menu {
            margin: 0;
            display: none;
            ul {
                display: block;
                li {
                    font-weight: 600;
                    padding: 10px 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    &:first-child {
                        background: transparent;
                        border-radius: 0;
                        margin: 0 0 8px;
                        padding: 24px 0;
                        border-bottom: 1px solid #DBDBDB;
                        & > a {
                            font-size: 20px;
                            color: var(--gray);
                            & > svg {
                                margin-right: 2px;
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                    &.open {
                        .menu-dropdown {
                            display: block;
                        }
                        & > svg {
                            transform: scale(-1);
                        }
                    }
                    & > svg {
                        margin-left: auto;
                        width: 20px;
                        height: 11px;
                    }
                    a {
                        &.toggle-btn {
                            margin: -23px 0;
                            padding: 23px 0;
                            flex: 1;
                        }
                    }
                }
            }
            .menu-dropdown {
                font-size: 14px;
                position: static;
                visibility: visible;
                box-shadow: none;
                padding: 0;
                display: none;
                width: auto;
                flex: 0 0 100%;
                .submenu {
                    a {
                        margin-bottom: 0;
                        margin-top: 20px;
                    }
                }
                .menu-img {
                    display: none;
                }
            }
            .location-list {
                border-top: 1px solid #DBDBDB;
                padding-top: 36px;
                columns: 2;
                column-gap: 50px;
                * {
                    color: var(--gray);
                    font-weight: 500;
                    font-size: 18px;
                    opacity: 0.5;
                    text-decoration: underline;
                    display: table;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .menu-icons-mob {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        padding-top: 18px;
        background-color: #fff;
        box-shadow: 0 -4px 7px 0 rgba(27, 27, 27, 0.10);
        z-index: 100000;
        display: flex;
        .item {
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            flex: 1;
            display: flex;
            flex-direction: column;
            &.active {
                .icon,
                .name {
                    color: var(--red);
                }
            }
            .icon {
                height: 20px;
                margin: 0 auto;
                position: relative;
                display: flex;
                align-items: center;
                .count {
                    align-items: center;
                    background: var(--red);
                    border-radius: 50%;
                    color: #fff;
                    display: flex;
                    font-size: 9px;
                    height: 18px;
                    justify-content: center;
                    position: absolute;
                    right: 50%;
                    top: -4px;
                    margin-right: -22px;
                    width: 18px;
                    z-index: 1;
                }
            }
            .name {
                font-size: 10px;
                font-weight: 400;
                letter-spacing: 0.2px;
            }
        }
    }
}
