.main-header {
    padding-top: 40px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .search {
        position: relative;
        margin-left: 120px;
        margin-right: 30px;
        flex: 1;
        input {
            padding: 10px 40px 10px 20px;
        }
        .search-btn {
            background: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 16px 0 0;
            height: 40px;
        }
    }
    .phone {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-right: 50px;
    }
    .account {
        font-weight: 600;
        margin-right: 56px;
        svg {
            margin-right: 8px;
        }
    }
    .lang-switcher {
        font-weight: 600;
        span {
            color: var(--red);
        }
        * {
            & + * {
                &::before {
                    content: "/";
                    margin-right: 4px;
                }
            }
        }
    }
    .main-menu {
        margin-top: 13px;
        position: relative;
        flex: 0 0 100%;
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                padding: 10px 0;
                &:first-child {
                    padding: 10px 23px;
                    border-radius: 5px;
                    background: var(--red);
                    margin-right: 26px;
                    & > a,
                    & > svg {
                        color: #fff;
                    }
                }
                &:first-child {
                    .menu-dropdown {
                        max-width: 100%;
                    }
                }
                & + li {
                    position: relative;
                }
                &:hover {
                    .menu-dropdown {
                        visibility: visible;
                        transition: all 0s ease 0.2s;
                    }
                }
                & > svg {
                    margin-left: 6px;
                }
            }
        }
        .menu-dropdown {
            position: absolute;
            left: 0;
            right: auto;
            width: max-content;
            top: 100%;
            visibility: hidden;
            background: #fff;
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 5px 5px;
            padding: 22px 40px 30px 23px;
            z-index: 10;
            display: flex;
            gap: 50px;
            .submenu {
                a {
                    display: table;
                    margin-bottom: 9px;
                }
            }
            .menu-img {
                margin-left: auto;
            }
        }
    }
}
@media (max-width: 991px) {
    .main-header {
        padding-bottom: 19px;
        align-items: center;
        &.open {
            .account {
                font-size: 16px;
                display: block;
                margin: 0;
                position: absolute;
                top: 105px;
                right: 40px;
                z-index: 11;
            }
            .lang-switcher {
                .account();
                font-size: 18px;
                margin-right: 150px;
                margin-top: 1px;
                * {
                    & + * {
                        margin-left: 5px;
                        &::before {
                            content: none;
                        }
                    }
                }
            }
            .main-menu {
                display: block;
            }
            .burger {
                span {
                     background: none;
                     transform: rotate(90deg);
                     &::before {
                         top: 0;
                         transform: rotate(45deg);
                     }
                     &::after {
                         top: 0;
                         transform: rotate(-45deg);
                     }
                }
             }
        }
        .burger {
            margin-left: 40px;
            height: 36px;
            width: 34px;
            display: flex;
            align-items: center;
            span {
                display: block;
                background: var(--gray);
                cursor: pointer;
                position: relative;
                height: 2px;
                width: 100%;
                &::after,
                &::before {
                    content: "";
                    background: var(--gray);
                    display: table;
                    position: absolute;
                    left: 0;
                    top: -11px;
                    height: 2px;
                    width: 100%;
                }
                &::after {
                    top: 11px;
                }
            }
        }
        .search {
            flex: auto;
            margin: 18px 0 0;
            width: 100%;
            order: 1;
        }
        .phone {
            margin: 0 0 0 auto;
        }
        .account {
           display: none;
        }
        .lang-switcher {
           display: none;
        }
        .main-menu {
            display: none;
            background: #fff;
            margin: 0;
            padding: 50px 20px 40px;
            position: absolute;
            top: 104px;
            right: 20px;
            z-index: 10;
            width: 320px;
            box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
            ul {
                display: block;
                li {
                    font-size: 18px;
                    border-top: 1px solid #DBDBDB;
                    padding: 23px 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    &:first-child {
                        background: transparent;
                        margin: 0;
                        padding: 23px 0;
                        & > a,
                        & > svg {
                            color: var(--red);
                        }
                    }
                    &.open {
                        .menu-dropdown {
                            display: block;
                        }
                        & > svg {
                            transform: scale(-1);
                        }
                    }
                    & > svg {
                        margin-left: auto;
                        width: 20px;
                        height: 11px;
                    }
                }
            }
            .menu-dropdown {
                font-size: 14px;
                position: static;
                visibility: visible;
                box-shadow: none;
                padding: 0;
                display: none;
                flex: 0 0 100%;
                .submenu {
                    a {
                        margin-bottom: 0;
                        margin-top: 24px;
                    }
                }
                .menu-img {
                    display: none;
                }
            }
            .location-list {
                border-top: 1px solid #DBDBDB;
                padding-top: 36px;
                columns: 2;
                column-gap: 50px;
                * {
                    color: var(--gray);
                    font-weight: 500;
                    font-size: 18px;
                    opacity: 0.5;
                    text-decoration: underline;
                    display: table;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
