.breadcrumb {
    padding: 0 0 2px;
    margin: 18px 0;
    .breadcrumb-item {
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        list-style: none;
        margin-bottom: 5px;
        display: inline;
        & + .breadcrumb-item {
            &::before {
                content: '/';
                margin-right: 5px;
            }
        }
    }
}
@media (max-width: 767px) {
    .breadcrumb {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .banner {
        .breadcrumb {
            text-align: left;
            margin-top: 0;
            margin-bottom: 50px;
        }
    }
}