.breadcrumb {
    padding: 0 20px 7px;
    margin: 18px -20px;
    overflow: auto;
    display: flex;
    align-items: center;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
    .breadcrumb-item {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        white-space: nowrap;
        list-style: none;
        display: flex;
        align-items: center;
        & + .breadcrumb-item {
            margin-left: 5px;
            &::before {
                content: '/';
                margin-right: 5px;
            }
        }
    }
}
@media (max-width: 767px) {
    .breadcrumb {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}