.product-swiper {
    padding: 20px 0;
    margin-top: 16px;
    overflow: visible;
    .product-preview {
        margin-right: 23px;
        height: auto;
        width: 25%;
    }
}
@media (max-width: 991px) {
    .product-swiper {
        padding-bottom: 34px;
    }
}