.section-partners {
    margin-bottom: 70px;
    .main-title {
        margin-bottom: 30px;
    }
}
@media (max-width: 991px) {
    .section-partners {
        margin-bottom: 50px;
        .main-title {
            margin-bottom: 17px;
        }
    }
}