.section-partners {
    margin-bottom: 70px;
    .main-title {
        margin-bottom: 30px;
    }
    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin: 32px auto 57px;
        max-width: 800px;
    }
}
@media (max-width: 991px) {
    .section-partners {
        margin-bottom: 50px;
        .main-title {
            margin-bottom: 17px;
        }
    }
}