.text-page {
    font-weight: 400;
    margin: 0 auto 80px;
    padding: 0 20px;
    max-width: 926px;
    p {
        margin: 0 0 20px;
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
    }
    .h3, 
    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 27px;
    }
    .main-title {
        margin-top: 0;
        margin-bottom: 40px;
    }
    ul {
        padding: 0;
        margin: 0 0 30px;
        & > li {
            list-style: none;
            margin: 22px 0;
            position: relative;
            padding-left: 15px;
            &::before {
                content: "";
                background: var(--gray);
                border-radius: 50%;
                margin: 10px 10px 0 5px;
                position: absolute;
                left: 0;
                top: 0;
                height: 2px;
                width: 2px;
            }
        }
        ol {
            margin-top: 25px;
            margin-bottom: 0;
        }
    }
    ol {
        padding: 0;
        margin: 0 0 30px;
    }
    .img-right {
        position: relative;
        width: calc(100vw - (calc((calc(100vw - 20px) - 850px) / 2)));
        img {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
@media (max-width: 991px) {
    .text-page {
        .img-right {
            width: 100%;
            img {
                display: none;
            }
        }
    }
}
@media (max-width: 767px) {
    .text-page {
        margin-bottom: 40px;
        .h3, 
        h3 {
            text-align: center;
        }
        & > br + br {
            display: none;
        }
        .main-title {
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 25px;
        }
    }
}